<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="@red-mobile/cordova-plugin-magnetometer"
    version="2.1.1">
  
    <name>Magnetometer</name>
    <description>This plugin provides access to the device's magnetometer sensor.</description>
    <license>MIT</license>
    <keywords>cordova,magnetometer</keywords>
    <repo>https://github.com/okhiroyuki/cordova-plugin-magnetometer</repo>
    <author>Hiroyuki Okada</author>
    <engines>
      <engine name="cordova" version=">=10.0.0"/>
    </engines>

    <js-module src="www/MagneticField.js" name="MagneticField">
        <clobbers target="MagneticField" />
    </js-module>

    <js-module src="www/magnetometer.js" name="magnetometer">
        <clobbers target="navigator.magnetometer" />
    </js-module>

	  <!-- andorid -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Magnetometer">
                <param name="android-package" value="org.apache.cordova.magnetometer.SensorListener"/>
            </feature>
        </config-file>
        <source-file src="src/android/SensorListener.java" target-dir="src/org/apache/cordova/magnetometer" />
	</platform>
</plugin>
